body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#uploadInput {
    display: block;
    margin: 20px auto;
}

#imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    max-width: 300px;
    max-height: 300px;
    margin: 10px;
}
